<section class="section-padding" id="section_3">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center mb-4">
                <h2>Nos Objectifs</h2>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block-wrap">
                    <img src="../../../../assets/images/don.jpeg"
                        class="custom-block-image img-fluid" alt="">

                    <div class="custom-block">
                        <div class="custom-block-body">
                            <h5 class="mb-3">Augmenter le nombre de donneurs</h5>

                            <p>Utiliser l'approche digitale pour acquérir plus de donneurs volontaires, ceci en période normale comme en cas d'urgence.</p>

                            <div class="progress mt-4">
                                <div class="progress-bar w-75" role="progressbar" aria-valuenow="75"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block-wrap">
                    <img src="../../../../assets/images/blood-poche Small.jpeg"
                        class="custom-block-image img-fluid" alt="">

                    <div class="custom-block">
                        <div class="custom-block-body">
                            <h5 class="mb-3">Eviter les ruptures de stock</h5>

                            <p>Mettre en place tout un système qui permettrait de surveiller le stock et d'éviter les ruptures</p>

                            <div class="progress mt-4">
                                <div class="progress-bar w-50" role="progressbar" aria-valuenow="50"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                           
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="custom-block-wrap">
                    <img src="../../../../assets/images/blood-day Small.jpeg"
                        class="custom-block-image img-fluid" alt="">

                    <div class="custom-block">
                        <div class="custom-block-body">
                            <h5 class="mb-3">Assister les donneurs</h5>

                            <p>
                                Le donneur est un acteur important du système BloodStyx. Il pourra effectuer une
                                uutoévaluation avant même de prendre RDV pour un don, de créer son compte afin de pouvoir consulter
                                l'historique de ses dons de sang pour savoir le moment ou il pourra eventuellement faire un autre don.
                
                            </p>

                            <div class="progress mt-4">
                                <div class="progress-bar w-100" role="progressbar" aria-valuenow="100"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                           
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>