/*---------------------------------------
  CUSTOM BLOCK               
-----------------------------------------*/
.custom-block-wrap {
    background: var(--white-color);
    border-radius: var(--border-radius-medium);
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
  }
  
  .custom-block-wrap:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  }
  
  .custom-block-body {
    padding: 30px;
  }
  
  .custom-block-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .custom-block .custom-btn {
    border-radius: 0;
    display: block;
  }
  

  /*---------------------------------------
  PROGRESS BAR               
-----------------------------------------*/
.progress {
  background:  #e9eaeb;
  height: 5px;
}

.progress-bar {
  background:  #5a6f80;;
}