<section class="hero" id="hero">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../../../../assets/images/my-blood.jpg" class="img-fluid" alt="">
                        </div>

                        <div class="carousel-item">
                            <img src="../../../../assets/images/my-blood-1.jpg" class="img-fluid" alt="">
                        </div>

                        <div class="carousel-item">
                            <img src="../../../../assets/images/bcell.jpeg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>

                <div class="heroText d-flex flex-column justify-content-center">

                    <h1 class="mt-auto mb-2">
                       With BloodStyx, Better
                        <div class="animated-info">
                            <span class="animated-item">health</span>
                            <span class="animated-item">days</span>
                            <span class="animated-item">lives</span>
                        </div>
                    </h1>

                    <p class="mb-4">BloodStyx va permettre de lutter contre le manque persistant de poches de sang au Sénégal. En effet, BloodStyx met à la disposition des agents de santé une application qui permettra la gestion et la surveillance du stock dans les banques de sang. Ceci permettra d’éviter les ruptures de stock. BloodStyx va encourager et faciliter les dons de sang à travers les sensibilisations. </p>

                    <div class="heroLinks d-flex flex-wrap align-items-center">
                        <a class="custom-link me-4" href="#about" data-hover="Learn More">contactez-nous</a>

                        <p class="contact-phone mb-0"><i class="bi-phone"></i>33 900 00 00</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>