<section class="section-padding pb-0" id="timeline">
    <div class="container">
        <div class="row">

            <h2 class=" text-center mb-lg-5 mb-4">AVANT LE DONC</h2>
            
            <div class="timeline">
                <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                    <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                        <h3 class="header__step text-light">Autoévaluation en ligne</h3>

                        <p>Pratique et rapide, le test vous permet de vérifier en moins de 5 minutes avant votre rendez-vous que vous ne rencontrez aucune contre-indication au don de sang. 
                          C’est parti !.</p>
                    </div>

                    <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                        <i class="bi-patch-check-fill timeline-icon"></i>
                    </div>

                    <div class="col-9 col-md-5 pe-md-3 pe-lg-0 order-1 order-md-3 py-4 timeline-date">
                        <time>2021-07-15 Thursday</time>
                    </div>
                </div>

                <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes my-lg-5 my-4">
                    <div class="col-9 col-md-5 ms-md-4 ms-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                        <h3 class=" text-light">Votre rendez-vous</h3>

                        <p>Vous souhaitez donner votre sang près de chez vous ou de votre lieu de travail ? 

                          En quelques clics, réservez un créneau pour donner !</p>
                    </div>

                    <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                        <i class="bi-book timeline-icon"></i>
                    </div>

                    <div class="col-9 col-md-5 pe-md-3 pe-lg-0 order-1 order-md-3 py-4 timeline-date">
                        <time>2021-07-15 Thursday</time>
                    </div>
                </div>

                <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                    <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                        <h3 class=" text-light">Votre préparation : J-0</h3>
                        <div class="preparation"> 
                          <ul class="prep__element">
                              <li >
                                <p>Vous vous sentez en forme ? Parfait, c’est donc le moment idéal ! </p>
                              </li>
                              <li>
                                <p>Prenez un bon petit-déjeuner ou un déjeuner équilibré avant de venir.  </p>
                              </li>
                              <li>
                                <p>Hydratez-vous : buvez de l’eau ou des jus de fruits avant, pendant et après le don. Évitez les boissons alcoolisées durant les heures qui précèdent le don.  </p>
                              </li>
                          </ul>
                        </div>
                    </div>

                    <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                        <i class="bi-file-medical timeline-icon"></i>
                    </div>

                    <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                        <time>2021-06-28 Monday</time>
                    </div>
                </div>

                <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes my-lg-5 my-4">
                    <div class="col-9 col-md-5 ms-md-4 ms-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                        <h3 class=" text-light">Covid-19 Hospitals</h3>

                        <p class="mb-0 pb-0">Fusce vestibulum euismod nulla sed ultrices. Praesent rutrum nulla vel sapien euismod, quis tempus dui placerat.</p>
                        
                        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla</p>
                    </div>

                    <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                        <i class="bi-globe timeline-icon"></i>
                    </div>

                    <div class="col-9 col-md-5 pe-md-3 pe-lg-0 order-1 order-md-3 py-4 timeline-date">
                        <time>2021-05-30 Sunday</time>
                    </div>
                </div>

                <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                    <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                        <h3 class=" text-light">Freelance Nursing</h3>

                        <p>If you need a working contact form that submits email to your inbox, please <a rel="nofollow" href="https://templatemo.com/contact" target="_parent">visit our contact page</a> for more information.</p>
                    </div>

                    <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                        <i class="bi-person timeline-icon"></i>
                    </div>

                    <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                        <time>2021-05-18 Tuesday</time>
                    </div>
                </div>
            </div>


            <!-- Pendant le Don -->

            <h2 class=" text-center mb-lg-5 mb-4">PENDANT LE DON</h2>
            
            <div class="timeline">
                <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                    <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                        <h3 class="header__step text-light">Autoévaluation en ligne</h3>

                        <p>Pratique et rapide, le test vous permet de vérifier en moins de 5 minutes avant votre rendez-vous que vous ne rencontrez aucune contre-indication au don de sang. 
                          C’est parti !.</p>
                    </div>

                    <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                        <i class="bi-patch-check-fill timeline-icon"></i>
                    </div>

                    <div class="col-9 col-md-5 pe-md-3 pe-lg-0 order-1 order-md-3 py-4 timeline-date">
                        <time>2021-07-15 Thursday</time>
                    </div>
                </div>

                <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes my-lg-5 my-4">
                    <div class="col-9 col-md-5 ms-md-4 ms-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                        <h3 class=" text-light">Votre rendez-vous</h3>

                        <p>Vous souhaitez donner votre sang près de chez vous ou de votre lieu de travail ? 

                          En quelques clics, réservez un créneau pour donner !</p>
                    </div>

                    <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                        <i class="bi-book timeline-icon"></i>
                    </div>

                    <div class="col-9 col-md-5 pe-md-3 pe-lg-0 order-1 order-md-3 py-4 timeline-date">
                        <time>2021-07-15 Thursday</time>
                    </div>
                </div>

                <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                    <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                        <h3 class=" text-light">Votre préparation : J-0</h3>
                        <div class="preparation"> 
                          <ul class="prep__element">
                              <li >
                                <p>Vous vous sentez en forme ? Parfait, c’est donc le moment idéal ! </p>
                              </li>
                              <li>
                                <p>Prenez un bon petit-déjeuner ou un déjeuner équilibré avant de venir.  </p>
                              </li>
                              <li>
                                <p>Hydratez-vous : buvez de l’eau ou des jus de fruits avant, pendant et après le don. Évitez les boissons alcoolisées durant les heures qui précèdent le don.  </p>
                              </li>
                          </ul>
                        </div>
                    </div>

                    <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                        <i class="bi-file-medical timeline-icon"></i>
                    </div>

                    <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                        <time>2021-06-28 Monday</time>
                    </div>
                </div>

                <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes my-lg-5 my-4">
                    <div class="col-9 col-md-5 ms-md-4 ms-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                        <h3 class=" text-light">Covid-19 Hospitals</h3>

                        <p class="mb-0 pb-0">Fusce vestibulum euismod nulla sed ultrices. Praesent rutrum nulla vel sapien euismod, quis tempus dui placerat.</p>
                        
                        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla</p>
                    </div>

                    <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                        <i class="bi-globe timeline-icon"></i>
                    </div>

                    <div class="col-9 col-md-5 pe-md-3 pe-lg-0 order-1 order-md-3 py-4 timeline-date">
                        <time>2021-05-30 Sunday</time>
                    </div>
                </div>

                <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                    <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                        <h3 class=" text-light">Freelance Nursing</h3>

                        <p>If you need a working contact form that submits email to your inbox, please <a rel="nofollow" href="https://templatemo.com/contact" target="_parent">visit our contact page</a> for more information.</p>
                    </div>

                    <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                        <i class="bi-person timeline-icon"></i>
                    </div>

                    <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                        <time>2021-05-18 Tuesday</time>
                    </div>
                </div>
            </div>


            <!-- Apres le Don -->


            <h2 class=" text-center mb-lg-5 mb-4">APRES LE DON</h2>
            
            <div class="timeline">
                <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                    <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                        <h3 class="header__step text-light">Autoévaluation en ligne</h3>

                        <p>Pratique et rapide, le test vous permet de vérifier en moins de 5 minutes avant votre rendez-vous que vous ne rencontrez aucune contre-indication au don de sang. 
                          C’est parti !.</p>
                    </div>

                    <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                        <i class="bi-patch-check-fill timeline-icon"></i>
                    </div>

                    <div class="col-9 col-md-5 pe-md-3 pe-lg-0 order-1 order-md-3 py-4 timeline-date">
                        <time>2021-07-15 Thursday</time>
                    </div>
                </div>

                <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes my-lg-5 my-4">
                    <div class="col-9 col-md-5 ms-md-4 ms-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                        <h3 class=" text-light">Votre rendez-vous</h3>

                        <p>Vous souhaitez donner votre sang près de chez vous ou de votre lieu de travail ? 

                          En quelques clics, réservez un créneau pour donner !</p>
                    </div>

                    <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                        <i class="bi-book timeline-icon"></i>
                    </div>

                    <div class="col-9 col-md-5 pe-md-3 pe-lg-0 order-1 order-md-3 py-4 timeline-date">
                        <time>2021-07-15 Thursday</time>
                    </div>
                </div>

                <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                    <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                        <h3 class=" text-light">Votre préparation : J-0</h3>
                        <div class="preparation"> 
                          <ul class="prep__element">
                              <li >
                                <p>Vous vous sentez en forme ? Parfait, c’est donc le moment idéal ! </p>
                              </li>
                              <li>
                                <p>Prenez un bon petit-déjeuner ou un déjeuner équilibré avant de venir.  </p>
                              </li>
                              <li>
                                <p>Hydratez-vous : buvez de l’eau ou des jus de fruits avant, pendant et après le don. Évitez les boissons alcoolisées durant les heures qui précèdent le don.  </p>
                              </li>
                          </ul>
                        </div>
                    </div>

                    <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                        <i class="bi-file-medical timeline-icon"></i>
                    </div>

                    <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                        <time>2021-06-28 Monday</time>
                    </div>
                </div>

                <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes my-lg-5 my-4">
                    <div class="col-9 col-md-5 ms-md-4 ms-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                        <h3 class=" text-light">Covid-19 Hospitals</h3>

                        <p class="mb-0 pb-0">Fusce vestibulum euismod nulla sed ultrices. Praesent rutrum nulla vel sapien euismod, quis tempus dui placerat.</p>
                        
                        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla</p>
                    </div>

                    <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                        <i class="bi-globe timeline-icon"></i>
                    </div>

                    <div class="col-9 col-md-5 pe-md-3 pe-lg-0 order-1 order-md-3 py-4 timeline-date">
                        <time>2021-05-30 Sunday</time>
                    </div>
                </div>

                <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                    <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                        <h3 class=" text-light">Freelance Nursing</h3>

                        <p>If you need a working contact form that submits email to your inbox, please <a rel="nofollow" href="https://templatemo.com/contact" target="_parent">visit our contact page</a> for more information.</p>
                    </div>

                    <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                        <i class="bi-person timeline-icon"></i>
                    </div>

                    <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                        <time>2021-05-18 Tuesday</time>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>